//主题颜色
$primary: rgb(231, 218, 166);
$secondary:#D59358;
$primary-light: lighten($primary,10%); 
$primary-darken:darken($primary,30%);
$secondary-darken: darken($secondary,30%);
$border-dark: rgba($primary, 0.88);

//全局
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'kaiti';

}
::-webkit-scrollbar {
    width: 30px;          
 }
  
 ::-webkit-scrollbar-thumb {   
   border-radius: 30px;
   background: -webkit-gradient(linear,left top,left bottom,from(#ff8a00),to(#da1b60));
   box-shadow: inset 2px 2px 2px rgba(255,255,255,.25), inset -2px -2px 2px rgba(0,0,0,.25);}
  
 ::-webkit-scrollbar-track {     
   background-color: #fff;
   background: linear-gradient(to right,#201c29,#201c29 1px,#100e17 1px,#100e17);
 }
body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: black;
}