@import './main.scss';

 
//文字颜色
.primary{
    color: $primary;
    &-darken{
        color: $primary-darken;
    }
}
.secondary{
    color: $secondary;
    &-darken{
        color: $secondary-darken;
    }
}


//背景颜色
.bg-primary{
    background-color: $primary;
    &-darken{
        background-color: $primary-darken;
    }
}
.bg-secondary{
    background-color: $secondary;
    &-darken{
        background-color: $secondary-darken;
    }
}


//边框颜色
.border-primary{
    border: 1px solid $primary;
}

.border-primary-darken{
    border: 1px solid $primary-darken;
}

.border-primary-bottom{
    border-bottom: 2px solid $primary;
}

//尺寸
.full-container{
    height: 100%;
    width: 100%;
}

.half-container{
    height: 50%;
    width: 50%;
}

//位置
.fixed{
    position: fixed;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.center{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.block{
    display: block;;
}


//组件

.flex-box{
    display: flex;

    padding: 10px;
}
.flex-item{
   width: 50%;
    &-long{
        width: 60%;
    }
    &-short{
        width: 40%;
    }
}

@media screen and (max-width: 650px) {
    .flex-box{
        display: block;
        border: 1px solid #ccc;
        padding: 10px;
    }
    .flex-item{
        width: 100%;
        &-long{
            width: 100%;
        }
        &-short{
            width: 100%;
        }
    }
    
}

.btn{
    height: 29px;
    font-size: 15px;
    padding:  5px;
    border: 2px solid $secondary-darken;
    border-radius: 4px 4px 0px 0px;
    cursor: pointer;
    display: inline-block;
    background-color:$primary;
    outline: none;
    &:hover{
        background-color: $primary-darken;
        box-shadow: 0px 3px 3px $secondary-light;

    }
    &-second{
        border: 2px solid $secondary-darken;
        background-color:$secondary-light;
        &:hover{
            background-color:$secondary;
        }
    }
}






//文字

.title{
    font-size: 25px;
    margin-bottom: 16px;
}


//相册
@media screen and (max-width: 650px) {
    .album{
        padding: 0px;
        &-name{
            font-size: 10px;
            width: 100px;
        }
        &-img{
            height: 100px !important;
            width: 100px  !important;
            &-container{
                height: 100px !important;
                width: 100px  !important;
            }
        }
    }
}
.album{
    position: relative;

    &-name{
     width: 150px;
    }
    padding: 10px;
    &s{
        display: flex;
        flex-wrap: wrap;
        position: relative;

    }
    &-img{
        border: 2px solid #ccc;
        height: 150px;
        width: 150px;
        background-color: #ccc;
    }
    &-info{
        display: flex;
        flex-direction: column;

    }
    &-name-detail{
        position: absolute;
        background-color: rgba(31, 24, 24, 0.808);
        height: 100%;
        width: 100%;
        opacity: 0;
        display: inline-block;
        transition: all .3s;
        color: whitesmoke;
        font-weight: bold
    }
    &-img-container{
        height: 150px;
        width: 150px;
        position: relative;
        &:hover .album-name-detail{
            opacity: 1;
            display: inline-block;
        }
    }

}

